html,
body,
#__nuxt {
  background-color: $blue-1;
  color: $white;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  @include font(14px, 20px);
}

#__nuxt {
  display: flex;
  flex-direction: column;
  @include small-scroll();
}

main {
  flex: 1 0 auto;
}

h1, h2 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
}

h3, h4, h5, h6 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
}
