@use 'sass:math';
@use 'sass:map';

@mixin wrapper-full($device) {
  padding-left: map.get($offset, $device);
  padding-right: map.get($offset, $device);
}

@mixin wrapper($device) {
  max-width: map.get($container, $device);
  margin: 0 auto;
  width: 100%;
  @include wrapper-full($device);
}

@mixin container-fluid($device) {
  margin-left: -#{map.get($offset, $device)};
  width: calc(100% + #{map.get($offset, $device) * 2});
}

@mixin screen-up($screen) {
  @if (map-has-key($grid-breakpoints, $screen)) {
    $screen: map-get($grid-breakpoints, $screen);
  }

  @media (min-width: $screen) {
    @content;
  }
}

@mixin screen-down($screen) {
  @if (map-has-key($grid-breakpoints, $screen)) {
    $screen: map-get($grid-breakpoints, $screen);
  }

  @media (max-width: $screen) {
    @content;
  }
}

@mixin font($font-size, $line-height: 100%, $font-weight: 400) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin size($device, $n) {
  $val: math.div(100%, $columns) * $n;
  width: #{calc(#{$val} - #{map.get($offset, $device)})};
}

@mixin hover-link ($color: $white, $changeColor: $white) {
  color: $color;
  background: linear-gradient(currentColor, currentColor) no-repeat right 95%/0 1px;
  transition: background-size 0.3s, color 0.3s;

  &:hover {
    color: $changeColor;
    background: linear-gradient(currentColor, currentColor) no-repeat left 95%/100% 1px;
  }
}

@mixin cut-text ($lines: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin disable-scroll {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0;
  }

  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

@mixin small-scroll {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    //background-color: $grey;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    //background: $blue;
    border-radius: 2px;
  }
}
