* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
